Repository xvweimin/react-vite-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore: 重命名 commitlintrc
  .commitlintrc
  .commitlintrc.json
Due: prettier --write

chore: 添加 normalize.css
  package.json
  src/index.scss
  src/main.tsx
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

chore: 完善 eslint 配置
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

chore: 添加 scss 和 autoprefixer
  .postcssrc.json
  .stylelintrc.json
  package.json
  yarn.lock
Due: prettier --write

chore: 添加项目 alias 配置
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

chore: 添加 react router
  package.json
  src/App.css
  src/App.tsx
  src/index.scss
  src/main.tsx
  src/pages/about/index.tsx
  src/pages/home/index.tsx
  src/routes/routes.tsx
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

chore: 添加 react redux 与 redux toolkit
  package.json
  src/main.tsx
  src/pages/home/counterSlice.ts
  src/pages/home/index.tsx
  src/redux/hooks.ts
  src/redux/store.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: 添加 axios
  package.json
  src/api/index.ts
  src/api/user.ts
  src/pages/about/index.tsx
  src/utils/request.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

docs: 添加 README
  README.md
Due: none

chore: upgrade version
  package.json
Due: prettier --write

chore: 完善 stylelint 配置
  .stylelintrc.json
  package.json
  yarn.lock
Due: prettier --write

chore: 完善 stylelint 配置
  .stylelintrc.json
Due: prettier --write

chore: run lint fix
  package.json
  src/App.tsx
  src/index.scss
  src/main.tsx
  src/pages/about/index.tsx
  src/pages/home/index.tsx
  src/redux/hooks.ts
  src/redux/store.ts
Due: prettier --write, eslint --fix, stylelint --fix

build: 完善 vite config
  vite.config.ts
Due: prettier --write, eslint --fix

chore: 修复 husky 文件权限
  .husky/commit-msg
  .husky/pre-commit
Due: none

docs: 更新 README
  README.md
Due: none

chore: 替换包管理工具为 pnpm 8
  README.md
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

chore: 完善项目 alias 配置
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/api/user.ts
  src/pages/about/index.tsx
  src/pages/home/index.tsx
  src/redux/store.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

chore: 更新项目 package 版本
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: 移除已弃用 vite config
  vite.config.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{html,js,ts,jsx,tsx,json}
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  stylelint --fix: any of: *.{css,scss}
